@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);
  --background: 0 0% 96%;
  --foreground: 0 0% 10%;
  --border: 0 0% 89%;
  --card: 0 0% 98%;
  --card-foreground: 0 0% 10%;
  --card-border: 0 0% 94%;
  --sidebar: 0 0% 94%;
  --sidebar-foreground: 0 0% 10%;
  --sidebar-border: 0 0% 89%;
  --sidebar-primary: 186 45% 43%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 88%;
  --sidebar-accent-foreground: 0 0% 10%;
  --sidebar-ring: 186 45% 43%;
  --popover: 0 0% 92%;
  --popover-foreground: 0 0% 10%;
  --popover-border: 0 0% 87%;
  --primary: 186 45% 30%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 86%;
  --secondary-foreground: 0 0% 10%;
  --muted: 0 2% 90%;
  --muted-foreground: 0 0% 35%;
  --accent: 186 8% 88%;
  --accent-foreground: 0 0% 10%;
  --destructive: 0 72% 38%;
  --destructive-foreground: 0 0% 98%;
  --input: 0 0% 70%;
  --ring: 186 45% 43%;
  --chart-1: 186 45% 35%;
  --chart-2: 186 55% 28%;
  --chart-3: 186 40% 25%;
  --chart-4: 186 35% 32%;
  --chart-5: 186 50% 22%;
  --radius: .5rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --primary-border: hsl(var(--primary));
  --secondary-border: hsl(var(--secondary));
  --muted-border: hsl(var(--muted));
  --accent-border: hsl(var(--accent));
  --destructive-border: hsl(var(--destructive));
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);
  --opaque-button-border-intensity: 9;
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);
  --background: 0 0% 9%;
  --foreground: 0 0% 92%;
  --border: 0 0% 18%;
  --card: 0 0% 11%;
  --card-foreground: 0 0% 92%;
  --card-border: 0 0% 15%;
  --sidebar: 0 0% 13%;
  --sidebar-foreground: 0 0% 92%;
  --sidebar-border: 0 0% 17%;
  --sidebar-primary: 186 45% 43%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 0 0% 18%;
  --sidebar-accent-foreground: 0 0% 92%;
  --sidebar-ring: 186 45% 43%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 92%;
  --popover-border: 0 0% 19%;
  --primary: 186 45% 28%;
  --primary-foreground: 0 0% 98%;
  --muted: 0 2% 17%;
  --muted-foreground: 0 0% 65%;
  --accent: 186 8% 19%;
  --accent-foreground: 0 0% 92%;
  --destructive: 0 72% 32%;
  --destructive-foreground: 0 0% 98%;
  --secondary: 0 0% 20%;
  --secondary-foreground: 0 0% 92%;
  --input: 0 0% 30%;
  --ring: 186 45% 43%;
  --chart-1: 186 55% 65%;
  --chart-2: 186 60% 58%;
  --chart-3: 186 50% 70%;
  --chart-4: 186 45% 62%;
  --chart-5: 186 65% 55%;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);

  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --primary-border: hsl(var(--primary));
  --secondary-border: hsl(var(--secondary));
  --muted-border: hsl(var(--muted));
  --accent-border: hsl(var(--accent));
  --destructive-border: hsl(var(--destructive));
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased bg-background text-foreground font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
